@use './variables' as v;
@use 'sass:math';

$line-height-multiplier: 1.4;

/* Utils */
@mixin remFontSize($size, $height) {
  font-size: calc($size / v.$default-font-size) + rem;
  line-height: calc($height / v.$default-font-size) + rem;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

/* Transforms px values to rem */
@function setSize($value) {
  @if type_of($value) == 'number' and unit($value) == px {
    @return calc(strip-unit($value) / v.$default-font-size) + rem;
  }

  @return $value;
}

/* Layout */
%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin maxSize($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin stretchFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin stretchAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin size($width, $height) {
  width: setSize($width);
  height: setSize($height);
}

/* Hides element, but keeps it visible for screen readers */
%a11y-friendly-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* Font settings */
@mixin fontRegular {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
@mixin fontBold {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

@mixin fontLight {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

@mixin letterSpacing1 {
  letter-spacing: 0.1em;
}
@mixin letterSpacing15 {
  letter-spacing: 0.15em;
}

%font-10-14-light {
  @include fontLight;
  @include remFontSize($size: 10, $height: 14);
}

%font-20-25-light {
  @include fontLight;
  @include remFontSize($size: 20, $height: 25);
}

%font-64-64-light {
  @include fontLight;
  @include remFontSize($size: 64, $height: 64);

  @media screen and (max-width: v.$media-bp-tablets) {
    @include remFontSize($size: 38, $height: 42);
  }
}

%font-14-24-regular {
  @include fontRegular;
  @include remFontSize($size: 14, $height: 24);
}

%font-16-22-regular {
  @include fontRegular;
  @include remFontSize($size: 16, $height: 22);
}

%font-20-regular {
  @include fontRegular;
  @include remFontSize($size: 20, $height: 20 * $line-height-multiplier);
}

%font-34-43-regular {
  @include fontRegular;
  @include remFontSize($size: 34, $height: 43);
}

%font-38-regular-adaptive {
  @include fontRegular;
  @include remFontSize($size: 38, $height: 38 * $line-height-multiplier);

  @media screen and (max-width: v.$media-bp-tablets) {
    @include remFontSize($size: 28, $height: 1.1);
  }
}

%font-46-58-regular {
  @include fontRegular;
  @include remFontSize($size: 46, $height: 58);
}

%font-10-12-bold {
  @include fontBold;
  @include remFontSize($size: 10, $height: 12);
}

%font-14-19-bold {
  @include fontBold;
  @include remFontSize($size: 14, $height: 19);
}
