@use '../styles/common' as c;
@use '../styles/variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: v.$accent-color !important;
}

.main {
  @extend %flex-column;
  max-width: v.$max-content-width;
  margin: 0 auto;
}

html {
  font-family: v.$default-font-family;
  font-size: v.$default-font-size + px;
  text-size-adjust: none;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: v.$media-bp-mobile) {
  html {
    font-size: v.$mobile-font-size + px;
  }
}
@media screen and (max-width: v.$media-bp-xs) {
  html {
    font-size: v.$xs-font-size + px;
  }
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1;
  background: v.$background-default;
  color: v.$text-color-primary;
  min-height: 100vh;
}
