@use '../../styles/common' as c;
@use '../../styles/variables' as v;

.calculator {
  @extend %flex-column;
  width: 100%;
  position: relative;

  &__results {
    @include c.letterSpacing1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 860px;
    color: v.$accent-color;
    flex-wrap: wrap;
    margin: c.setSize(12px);

    & label {
      display: block;
      margin-bottom: 2vh;
    }

    & output {
      @extend %font-46-58-regular;
    }

    & sup {
      @extend %font-20-25-light;
      margin-top: 5px;
      margin-left: 5px;
    }
  }

  &__result {
    @extend %flex-column;
    justify-content: center;
    margin: c.setSize(2.5vw) c.setSize(2.5vw) 0;

    @media screen and (max-width: v.$media-bp-mobile) {
      transform: scale(0.9);
    }
  }

  &__output {
    display: flex;
    align-items: flex-start;
  }

  &__fields {
    @extend %flex-row-center;
    margin-top: 2vw;
    flex-wrap: wrap;
    width: 100%;
  }

  &__field-group {
    @extend %flex-row-center;
    flex-wrap: wrap;
    border: none;
    margin: 8px 0 32px;
  }
  &__divider {
    background-color: v.$stroke-color-secondary;
    @include c.size(1px, 128px);
    margin: -22px 23px 0;

    @media screen and (max-width: v.$max-content-width) {
      display: none;
    }
  }

  &__spacer {
    width: 32px;

    @media screen and (max-width: v.$media-bp-tablets) {
      display: none;
    }
  }

  &__field {
    margin: 0 22px;
    position: relative;
  }

  &__field legend {
    @extend %font-20-25-light;
    display: block;
    color: v.$text-color-secondary;
    margin-bottom: 22px;

    @media screen and (max-width: v.$media-bp-tablets) {
      text-align: center;
    }
  }

  &__row {
    @extend %flex-row-center;
    flex-wrap: wrap;
  }
}
