@use '../../styles/common' as c;
@use '../../styles/variables' as v;

$button-size-ratio: 0.35;

.wheel-selection {
  @include c.size(100%, 100%);
  @extend %flex-row-center;
  @extend %font-20-regular;
  position: relative;
  padding: c.setSize(3px);

  & img {
    margin-right: 2.5rem;
  }

  &__size-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(80%, -50%);
  }

  &::before {
    content: '';
    @include c.stretchAbsolute;
    @include c.size(100%, 100%);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 30%;
    background-image: url('icons/wheel.svg');
  }

  &._s::before {
    background-size: $button-size-ratio * 70%;
  }

  &._m::before {
    background-size: $button-size-ratio * 80%;
  }

  & input {
    @extend %a11y-friendly-hide;
  }

  &__indicator {
    @include c.stretchAbsolute;
    pointer-events: none;
  }

  & input:checked + &__indicator,
  & input:focus + &__indicator {
    border: 2px solid v.$accent-color;
  }
}
