@use '../../styles/common' as c;
@use '../../styles/variables' as v;

.base-input {
  @extend %flex-row-center;
  @include c.size(233px, 81px);
  padding: 0 c.setSize(11px);
  border: 1px solid v.$stroke-color-secondary;
  background-color: v.$background-secondary;

  &._no-pad {
    padding: 0;
  }

  &._align-right input {
    text-align: right;
  }

  &__items {
    @extend %flex-row-center;
    @extend %font-34-43-regular;
    flex: 1;
  }

  &__controls {
    @extend %flex-column;
  }

  & input {
    pointer-events: none;
    max-width: c.setSize(100px);
    background: none;
    border: none;

    &:focus {
      outline: transparent;
    }
  }

  & button {
    @extend %flex-row-center;
    @include c.size(40px, 40px);
    color: v.$accent-color;
    background: none;
    border: none;

    &:not(:last-child) {
      border-bottom: 1px solid v.$stroke-color-secondary;
    }

    &:disabled {
      color: v.$stroke-color-secondary;
    }
  }

  &__unit {
    @extend %font-20-25-light;
    transform: translateY(5px);
  }

  &__deg {
    display: block;
    width: setSize(20px);
    text-align: left;
  }
}

.rotate180 {
  transform: rotate(180deg);
}
