@use '../../styles/common' as c;
@use '../../styles/variables' as v;

.footer {
  @extend %flex-row-center;
  padding: c.setSize(50px) 0;
  margin-top: 72px;
  background-color: v.$background-dark;
  color: v.$text-color-primary-contrast;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 1400px;
  }

  &__group {
    @extend %font-14-24-regular;
    text-decoration: none;
    margin-right: c.setSize(47px);
    margin-left: c.setSize(50px);
    margin-bottom: c.setSize(48px);
    max-width: 350px;

    & h3 {
      @extend %font-10-12-bold;
      @include c.letterSpacing1;
      font-family: v.$default-font-family;
      text-transform: uppercase;
      margin: 0 0 c.setSize(23px);
    }

    & li a {
      font-family: v.$description-font-family;
      color: v.$text-color-primary-contrast;
      text-decoration: none;
    }

    & form {
      @extend %flex-row-center;
      margin-bottom: c.setSize(18px);
    }

    & input {
      @extend %font-14-24-regular;
      font-family: v.$description-font-family;
      border: 1px solid v.$light-accent-color;
      background: v.$background-dark;
      color: v.$text-color-primary-contrast;
      max-width: 210px;
      flex-grow: 1;
      min-width: 150px;
      height: c.setSize(40px);
      border-radius: 4px;
      padding: c.setSize(12px) c.setSize(20px);
      margin-right: c.setSize(17px);

      /* Removing autofill background-color */
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px transparent inset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    & button {
      @extend %font-10-12-bold;
      background: v.$background-default;
      color: v.$call-to-action-color;
      padding: c.setSize(14px) c.setSize(29px) c.setSize(12px);
      text-transform: uppercase;
      border-radius: 4px;
    }
  }

  &__highlighted-link {
    @extend %font-14-24-regular;
    font-family: v.$description-font-family;
    display: inline-block;
    text-decoration: none;
    color: v.$light-accent-color;
    margin-bottom: c.setSize(20px);
  }

  &__hidden-label {
    @extend %a11y-friendly-hide;
  }
}
